@font-face {
  font-family: 'PP Radio Grotesk';
  src: url('PPRadioGrotesk-Regular.eot');
  src: local('PP Radio Grotesk Regular'), local('PPRadioGrotesk-Regular'),
  url('PPRadioGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
  url('PPRadioGrotesk-Regular.woff2') format('woff2'),
  url('PPRadioGrotesk-Regular.woff') format('woff'),
  url('PPRadioGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Radio Grotesk';
  src: url('PPRadioGrotesk-Ultralight.eot');
  src: local('PP Radio Grotesk Ultralight'), local('PPRadioGrotesk-Ultralight'),
  url('PPRadioGrotesk-Ultralight.eot?#iefix') format('embedded-opentype'),
  url('PPRadioGrotesk-Ultralight.woff2') format('woff2'),
  url('PPRadioGrotesk-Ultralight.woff') format('woff'),
  url('PPRadioGrotesk-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Radio Grotesk';
  src: url('PPRadioGrotesk-Black.eot');
  src: local('PP Radio Grotesk Black'), local('PPRadioGrotesk-Black'),
  url('PPRadioGrotesk-Black.eot?#iefix') format('embedded-opentype'),
  url('PPRadioGrotesk-Black.woff2') format('woff2'),
  url('PPRadioGrotesk-Black.woff') format('woff'),
  url('PPRadioGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Radio Grotesk';
  src: url('PPRadioGrotesk-BlackItalic.eot');
  src: local('PP Radio Grotesk Black Italic'), local('PPRadioGrotesk-BlackItalic'),
  url('PPRadioGrotesk-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('PPRadioGrotesk-BlackItalic.woff2') format('woff2'),
  url('PPRadioGrotesk-BlackItalic.woff') format('woff'),
  url('PPRadioGrotesk-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Radio Grotesk';
  src: url('PPRadioGrotesk-UltralightItalic.eot');
  src: local('PP Radio Grotesk Ultralight Italic'), local('PPRadioGrotesk-UltralightItalic'),
  url('PPRadioGrotesk-UltralightItalic.eot?#iefix') format('embedded-opentype'),
  url('PPRadioGrotesk-UltralightItalic.woff2') format('woff2'),
  url('PPRadioGrotesk-UltralightItalic.woff') format('woff'),
  url('PPRadioGrotesk-UltralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Radio Grotesk';
  src: url('PPRadioGrotesk-RegularItalic.eot');
  src: local('PP Radio Grotesk Regular Italic'), local('PPRadioGrotesk-RegularItalic'),
  url('PPRadioGrotesk-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('PPRadioGrotesk-RegularItalic.woff2') format('woff2'),
  url('PPRadioGrotesk-RegularItalic.woff') format('woff'),
  url('PPRadioGrotesk-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

